@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
}
a{
  outline: none;
  text-decoration: none !important;
  color:inherit;
}
ion-icon{
  cursor: pointer;
}
header.main{
  background-color: rgb(27, 27, 27);
  color:white;
  padding: 1em 3em;
  box-shadow: 0 1em 1em -0.5em rgb(0,0,0,0.4);
  margin-bottom:1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.content{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .side-nav{
    position: sticky;
    top:0;
    min-width: 300px;
    padding:1em;
    >nav{
      display: flex;
      flex-direction: column;
      >a{
        margin:0.5em 0;
      }
    }
  }
}

main>header{
  background-color: white;
  position: sticky;
  top:0.5em;
  padding:0.5em;
  border-radius: 1em;
  box-shadow: 0 0 1em 0 rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  >h1{
    color:rgb(63, 63, 63);  
  }
  section{
    padding: 1em 3em;
  }
}